<center><div class="flex flex-col mt-10 relative left-0 top-24 px-4 p-3 bg-emerald-600">
  <div class="relative text-1xl font-bold rounded r-lg text-black bg-emerald-600 focus:bg-emerald-700">
   
    <%= form_with url: "/requests", method: :post, local: true do |f| %>
      <div class="text-white">
        <%= f.label :name %>
      </div>
      <%= f.text_field :name %>
      <div class="text-white">
        <%= f.label :address %>
      </div>
      <%= f.text_field :address %>
      <div class="text-white">
        <%= f.label :range %> (in miles)
      </div>
      <%= f.number_field :range %>
       <div class="text-white">
      <h1>Genres:</h1><br>
    </div>
      <div class="scroll">
        <%= f.check_box :acoustic %> <br>
        <%= f.check_box :afrobeat %> <br>
        <%= f.check_box :alt_rock %> <br>
        <%= f.check_box :alternative %> <br>
        <%= f.check_box :ambient %> <br>
        <%= f.check_box :anime %> <br>
        <%= f.check_box :black_metal %> <br>
        <%= f.check_box :bluegrass %> <br>
        <%= f.check_box :blues %> <br>
        <%= f.check_box :bossanova %> <br>
        <%= f.check_box :brazil %> <br>
        <%= f.check_box :breakbeat %> <br>
        <%= f.check_box :british %> <br>
        <%= f.check_box :cantopop %> <br>
        <%= f.check_box :chicago_house %> <br>
        <%= f.check_box :children %> <br>
        <%= f.check_box :chill %> <br>
        <%= f.check_box :classical %> <br>
        <%= f.check_box :club %> <br>
        <%= f.check_box :comedy %> <br>
        <%= f.check_box :country %> <br>
        <%= f.check_box :dance %> <br>
        <%= f.check_box :dancehall %> <br>
        <%= f.check_box :death_metal %> <br>
        <%= f.check_box :deep_house %> <br>
        <%= f.check_box :detroit_techno %> <br>
        <%= f.check_box :disco %> <br>
        <%= f.check_box :disney %> <br>
        <%= f.check_box :drum_and_bass %> <br>
        <%= f.check_box :dub %> <br>
        <%= f.check_box :dubstep %> <br>
        <%= f.check_box :edm %> <br>
        <%= f.check_box :electro %> <br>
        <%= f.check_box :electronic %> <br>
        <%= f.check_box :emo %> <br>
        <%= f.check_box :folk %> <br>
        <%= f.check_box :forro %> <br>
        <%= f.check_box :french %> <br>
        <%= f.check_box :funk %> <br>
        <%= f.check_box :garage %> <br>
        <%= f.check_box :german %> <br>
        <%= f.check_box :gospel %> <br>
        <%= f.check_box :goth %> <br>
        <%= f.check_box :grindcore %> <br>
        <%= f.check_box :groove %> <br>
        <%= f.check_box :grunge %> <br>
        <%= f.check_box :guitar %> <br>
        <%= f.check_box :happy %> <br>
        <%= f.check_box :hard_rock %> <br>
        <%= f.check_box :hardcore %> <br>
        <%= f.check_box :hardstyle %> <br>
        <%= f.check_box :heavy_metal %> <br>
        <%= f.check_box :hip_hop %> <br>
        <%= f.check_box :holidays %> <br>
        <%= f.check_box :honky_tonk %> <br>
        <%= f.check_box :house %> <br>
        <%= f.check_box :idm %> <br>
        <%= f.check_box :indian %> <br>
        <%= f.check_box :indie %> <br>
        <%= f.check_box :indie_pop %> <br>
        <%= f.check_box :industrial %> <br>
        <%= f.check_box :iranian %> <br>
        <%= f.check_box :j_dance %> <br>
        <%= f.check_box :j_idol %> <br>
        <%= f.check_box :j_pop %> <br>
        <%= f.check_box :j_rock %> <br>
        <%= f.check_box :jazz %> <br>
        <%= f.check_box :k_pop %> <br>
        <%= f.check_box :kids %> <br>
        <%= f.check_box :latin %> <br>
        <%= f.check_box :latino %> <br>
        <%= f.check_box :malay %> <br>
        <%= f.check_box :mandopop %> <br>
        <%= f.check_box :metal %> <br>
        <%= f.check_box :metal_misc %> <br>
        <%= f.check_box :metalcore %> <br>
        <%= f.check_box :minimal_techno %> <br>
        <%= f.check_box :movies %> <br>
        <%= f.check_box :mpb %> <br>
        <%= f.check_box :new_age %> <br>
        <%= f.check_box :new_release %> <br>
        <%= f.check_box :opera %> <br>
        <%= f.check_box :pagode %> <br>
        <%= f.check_box :party %> <br>
        <%= f.check_box :philippines_opm %> <br>
        <%= f.check_box :piano %> <br>
        <%= f.check_box :pop %> <br>
        <%= f.check_box :pop_film %> <br>
        <%= f.check_box :post_dubstep %> <br>
        <%= f.check_box :power_pop %> <br>
        <%= f.check_box :progressive_house %> <br>
        <%= f.check_box :psych_rock %> <br>
        <%= f.check_box :punk %> <br>
        <%= f.check_box :punk_rock %> <br>
        <%= f.check_box :r_n_b %> <br>
        <%= f.check_box :rainy_day %> <br>
        <%= f.check_box :reggae %> <br>
        <%= f.check_box :reggaeton %> <br>
        <%= f.check_box :road_trip %> <br>
        <%= f.check_box :rock %> <br>
        <%= f.check_box :rock_n_roll %> <br>
        <%= f.check_box :rockabilly %> <br>
        <%= f.check_box :romance %> <br>
        <%= f.check_box :sad %> <br>
        <%= f.check_box :salsa %> <br>
        <%= f.check_box :samba %> <br>
        <%= f.check_box :sertanejo %> <br>
        <%= f.check_box :show_tunes %> <br>
        <%= f.check_box :singer_songwriter %> <br>
        <%= f.check_box :ska %> <br>
        <%= f.check_box :sleep %> <br>
        <%= f.check_box :songwriter %> <br>
        <%= f.check_box :soul %> <br>
        <%= f.check_box :soundtracks %> <br>
        <%= f.check_box :spanish %> <br>
        <%= f.check_box :study %> <br>
        <%= f.check_box :summer %> <br>
        <%= f.check_box :swedish %> <br>
        <%= f.check_box :synth_pop %> <br>
        <%= f.check_box :tango %> <br>
        <%= f.check_box :techno %> <br>
        <%= f.check_box :trance %> <br>
        <%= f.check_box :trip_hop %> <br>
        <%= f.check_box :turkish %> <br>
        <%= f.check_box :work_out %> <br>
        <%= f.check_box :world_music %>
      </div>
      <div class="text-white hover:bg-emerald-500">
        <br> <%= f.submit 'Create Juke!'%>
      </div>
    <% end %>
  </div>
</div></center>