<center>
  <div class="flex flex-col mt-0 relative left-0 top-24 px-4 p-3 bg-emerald-600">
    <div class="relative text-1xl font-bold rounded r-lg text-black bg-emerald-600 focus:bg-emerald-700">
      <%= form_with url: populate_dashboard_playlist_path(@playlist[:id]), method: :post, local: true do |f| %>
        <%= hidden_field_tag(:user_id, @user.id) %>
        <%= hidden_field_tag(:playlist_id, @playlist[:id]) %>
        <div class="text-white">
          <h1>Click a single Genre:</h1><br>
        </div>
        <div class="scroll">
          <% @genres.each do |genre| %>
            <%= f.label genre %>
            <%= f.check_box :genre %> <br>
          <% end %>
        </div>
        <div class="text-white hover:bg-emerald-500">
          <br><%= f.submit 'Add Suggestion!'%>
        </div>
      <%end%>
    </div>
  </div>
</center>

<center>
  <div class="flex flex-col mt-0 relative left-0 top-24 px-4 p-3 bg-emerald-600">
    <div class="relative text-1xl font-bold rounded r-lg text-black bg-emerald-600 focus:bg-emerald-700">
      <%= form_with url: populate_dashboard_playlist_path(@playlist[:id]), method: :post, local: true do |f| %>
        <%= hidden_field_tag(:user_id, @user.id) %>
        <%= hidden_field_tag(:playlist_id, @playlist[:id]) %>
        <div class="text-white">
          <br><%= f.label :artists %> (Type in an artist name!)
        </div>
          <%= f.text_field :artist %>
        <div class="text-white hover:bg-emerald-500">
          <br><%= f.submit 'Add Suggestion!'%>
        </div>
      <%end%>
    </div>
  </div>
</center>

<center>
  <div class="flex flex-col mt-0 relative left-0 top-24 px-4 p-3 bg-emerald-600">
    <div class="relative text-1xl font-bold rounded r-lg text-black bg-emerald-600 focus:bg-emerald-700">
      <%= form_with url: populate_dashboard_playlist_path(@playlist[:id]), method: :post, local: true do |f| %>
        <%= hidden_field_tag(:user_id, @user.id) %>
        <%= hidden_field_tag(:playlist_id, @playlist[:id]) %>
        <div class="text-white">
         <br><%= f.label :songs %> (Type in a song name!)
        </div>
          <%= f.text_field :song %>
        <div class="text-white hover:bg-emerald-500">
          <br><%= f.submit 'Add Suggestion!'%>
        </div>
      <%end%>
    </div>
  </div>
</center>