<center>
  <div class="flex flex-col mt-10 relative left-0 top-24 px-4 p-3 bg-emerald-600">
    <div class="relative text-1xl font-bold rounded r-lg text-black bg-emerald-600 focus:bg-emerald-700">
      <%= form_with url: dashboard_playlists_path, method: :post, local: true do |f| %>

        <div class="text-white">
          <%= f.label :name %>
        </div>
        <%= f.text_field :name %>

        <div class="text-white">
          <%= f.label :address %>
        </div>
        <%= f.text_field :input_address %>

        <div class="text-white">
          <%= f.label :range %> (in miles)
        </div>
        <%= f.number_field :range %>

        <%= f.hidden_field :host_id, :value => @user.id %>

        <div class="text-white hover:bg-emerald-500">
          <br><%= f.submit 'Create Juke!'%>
        </div>
      <% end %>
    </div>
  </div>
</center>