<!DOCTYPE html>
<html>
  <head>
    <title>JukeGenie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwincss.com"></script>
  </head>

  <body>
    <main class="container mx-auto mt-0 px-5 flex">
        <div class="absolute inset-x-0 left-0 top-0 bg-emerald-600 p-8">
          <div class='text-2xl font-bold text-white justify-center'>JukeGenie!</div>
        </div>
      <%= yield %>
    </main>
  </body>
</html>
